---
import Layout from "../layouts/HomeLayout.astro";
import { Image } from "astro:assets";
import faceImage from "../../public/dayangraham.png";
---

<Layout title="dayangrah.am" description="about">
  <div class="main-wrapper flex md:flex-row flex-col mt-8">
    <div class="flex flex-col flex-1">
      <div class="placeholder-div hidden md:block"></div>
      <h2
        class="text-4xl md:text-headline md:leading-[4rem] text-text-heading text-center md:text-left mb-4 font-softglyphs"
      >
        my name is dayan
      </h2>
      <Image
        class="profile-image block md:hidden self-center"
        src={faceImage}
        alt={`Dayan Graham's animated face`}
      />
      <p class="body">i'm a software engineer currently based in london 🇬🇧.</p>
      <br />
      <p class="body">outside of programming, i enjoy:</p>
      <ul>
        <li class="body">football (fpl first-timer 24/25!)</li>
        <li class="body">mixed martial arts (kickboxing since 2021)</li>
        <li class="body">
          weightlifting and general fitness (ran london marathon in 2024)
        </li>
        <li class="body">
          music
          <ul>
            <li class="body">uk rap / hip-hop, afro-swing, trap-wave</li>
            <li class="body">
              uk minimal dubstep, future garage, ukg, funky house
            </li>
            <li class="body">south african amapiano / omopiano</li>
            <li class="body">brazilian funk</li>
            <li class="body">french afro-trap</li>
            <li class="body">many more genres</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="image-and-spotify flex flex-col items-center">
      <Image
        class="profile-image hidden md:block"
        src={faceImage}
        alt={`Dayan Graham's animated face`}
      />
      <div class="w-full">
        <iframe
          class="spotify-iframe"
          src="https://open.spotify.com/embed/playlist/37i9dQZF1EpkXfdyLb94uM?utm_source=generator&theme=0"
          width="100%"
          height="500"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
      </div>
    </div>
  </div>
</Layout>

<style>
  .profile-image {
    @apply w-48 h-48 rounded-full object-cover mb-4 justify-self-center;
  }

  .body {
    @apply text-text-body text-sm font-mono;
  }

  ol,
  ul,
  menu {
    list-style: unset;
    margin: unset;
    padding: unset;
  }

  p {
    margin-bottom: 4px;
  }

  ul li {
    margin-left: 20px;
    list-style: circle;
  }

  .main-wrapper {
    gap: 16px;
  }

  .placeholder-div {
    height: 192px;
    flex-shrink: 0;
  }

  .spotify-iframe {
    border-radius: 12px;
  }

  .image-and-spotify {
    flex: 1;
  }
</style>
