---
const baseUrl = import.meta.env.BASE_URL;
---

<header
  class="header headline sticky top-2 z-50 flex flex-row items-center justify-between rounded-xl bg-background text-text-body border-border border"
>
  <a href={baseUrl} class="text-sm font-thin">
    <span class="text-white font-bold">dayan</span>grah.am
  </a>
  <nav>
    <a href="/about" class="text-sm font-thin">about</a>
  </nav>
</header>
