---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="h-full w-full bg-background-dark">
    <div class="gridcontainer h-full">
      <header
        class="header sticky top-2 z-50 flex items-center justify-between p-1 px-4 rounded-xl bg-background text-text-body border-border border"
      >
        <a href="/" class="text-xs font-thin">
          <span class="text-white font-bold">dayan</span>grah.am
        </a>
        <nav>
          <a href="/about" class="text-xs font-thin">about</a>
        </nav>
      </header>
      <main class="content">
        <slot />
      </main>
      <footer class="footer text-center text-xs text-text-body">
        <span id="year"></span> dayangrah.am
      </footer>
    </div>
    <script>
      const yearElement = document.getElementById("year");
      if (yearElement) {
        yearElement.textContent = new Date().getFullYear().toString();
      }
    </script>
  </body>
</html>

<style is:global>
  html {
    font-family: Inter, system-ui, sans-serif;
  }

  .gridcontainer {
    @apply bg-background shadow-lg;
    box-shadow: 0 20px 50px rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 40px 1fr 40px;
    gap: 0px 0px;
    grid-template-areas:
      "side-left header side-right"
      "side-left content side-right"
      "side-left footer side-right";
  }

  .content {
    grid-area: content;
    width: 800px;
  }
  .footer {
    grid-area: footer;
  }
  .header {
    grid-area: header;
    @apply shadow-header;
  }
</style>
