---
interface Props {
  title: string;
}

const { title } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icon/favicon-16x16.png"
    />
    <link rel="manifest" href="icon/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="bg-background-dark">
    <div class="gridcontainer min-h-full">
      <header
        class="header sticky top-2 z-50 flex flex-row items-center justify-between rounded-xl bg-background text-text-body border-border border"
      >
        <a href={baseUrl} class="text-sm font-thin">
          <span class="text-white font-bold">dayan</span>grah.am
        </a>
        <nav>
          <a href="/about" class="text-sm font-thin">about</a>
        </nav>
      </header>
      <main class="content">
        <slot />
      </main>
      <footer class="footer text-center text-xs text-text-body">
        <span id="year"></span> dayangrah.am
      </footer>
    </div>
    <script>
      const yearElement = document.getElementById("year");
      if (yearElement) {
        yearElement.textContent = new Date().getFullYear().toString();
      }
    </script>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    overflow-y: scroll;
  }

  .gridcontainer {
    @apply bg-background shadow-lg;
    box-shadow: 0 20px 50px rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr minmax(0, 800px) 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
      "side-left header side-right"
      "side-left content side-right"
      "side-left footer side-right";
    flex: 1;
    width: 100%;
  }

  @media (max-width: 1024px) {
    .gridcontainer {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "content"
        "footer";
    }

    .content {
      width: 100%;
      padding: 0 16px;
      overflow-y: scroll;
    }
  }

  .content {
    grid-area: content;
    width: 100%;
    max-width: 800px;
  }

  .footer {
    grid-area: footer;
    padding: 1rem;
  }

  .header {
    grid-area: header;
    @apply shadow-header;
    padding: 1rem;
  }
</style>
