---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="gridcontainer">
      <header
        class="header sticky top-2 z-50 flex items-center justify-between p-1 px-4 rounded-xl bg-background text-textcolor border-border border"
      >
        <a href="/" class="text-xs font-thin">
          <bold class="text-white">dayan</bold>grah.am
        </a>
        <nav>
          <a href="/about" class="text-xs font-thin">about</a>
        </nav>
      </header>
      <main class="content">
        <slot />
      </main>
      <footer class="footer text-center text-xs text-textcolor">
        <span id="year"></span> dayangrah.am
      </footer>
      <script>
        const yearElement = document.getElementById("year");
        if (yearElement != null) {
          yearElement.textContent = new Date().getFullYear().toString();
        }
      </script>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: Inter, system-ui, sans-serif;
    height: 100%;
    background-color: #141414;
  }

  body {
    height: 100%;
    width: 100%;
  }

  .gridcontainer {
    height: 100%;
    background-color: #1c1c1c;
    box-shadow: 0 20px 50px rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 40px 1fr 40px;
    gap: 0px 0px;
    grid-template-areas:
      "side-left header side-right"
      "side-left content side-right"
      "side-left footer side-right";
  }

  .content {
    grid-area: content;
    width: 800px;
    /* box-shadow:
      0px 8px 10px 0px rgba(0, 0, 0, 0.08),
      0px 3px 16px 0px rgba(0, 0, 0, 0.08),
      0px 4px 5px 0px rgba(0, 0, 0, 0.08); */
  }
  .footer {
    grid-area: footer;
  }
  .header {
    grid-area: header;
    box-shadow:
      0px 8px 10px 0px rgba(0, 0, 0, 0.08),
      0px 3px 16px 0px rgba(0, 0, 0, 0.08),
      0px 4px 5px 0px rgba(0, 0, 0, 0.08);
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    background: linear-gradient(270deg, #ff00ff, #00ffff);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
  }
</style>
